.card {
    display: flex;
    width: 200px;
    height: 290px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #e4e5e7;
    // padding: 16px 24px;
    background-color: #ffffff;
    // box-shadow: 0 0 16px 2px  rgba(0, 0, 0, 0.178);
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.08);
    }

    .cardContent {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .imagemContainer {
            // flex-grow: 1;
            height: 200px;
            overflow: hidden;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        .tituloContainer {
            padding: 8px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #202020;

            p {
                text-align: center;
                color: #FFFFFF;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .buttonContainer {
            margin-inline: auto;

            button {
                all: unset;
                padding: 8px 16px;
                border-radius: 4px;
                cursor: pointer;
                font-size: 14px;
                text-decoration: underline;
                color: #7d898d;
            }
        }
    }
    
}